extends parent

include article

block content
  h1 CPS630 Lab 5
  p.lead This the about page for lab 5
  hr
  .row
    .col-sm-6
      article
        h2 Instructions for the lab
        p Purpose of this lab is to create an nodejs app using pug templating
  .row
    .col-sm-12
       +article('A little about me', 'International student from Gambia. Studying Computer Science at Ryerson University.', 'myImage.jpg')

  h4 Find random stories below
  .row
    .col-sm-12
      hr
      +stories('THE METAL MONK by Matt Barton', 'Theirs was a true love, thought Tony, one to stand the test of time. Eva, his soul-mate, was somehow even more beautiful than the day they first met, he realized.')

      br

      +stories('THE METAL MONK by Matt Barton', 'Theirs was a true love, thought Tony, one to stand the test of time. Eva, his soul-mate, was somehow even more beautiful than the day they first met, he realized.')


      br

      +article('Another random image, this time of my buddy', 'Eric goes to Ryerson too.', 'buddy.png')


      br
