extends parent

include article

block content
  h1 CPS630 Lab 5
  p.lead NodeJS app using pug templating
  hr
  h4 Find random stories below
  .row
    .col-sm-12
      hr
      +stories('THE METAL MONK by Matt Barton', 'Theirs was a true love, thought Tony, one to stand the test of time. Eva, his soul-mate, was somehow even more beautiful than the day they first met, he realized.')

      br

      +stories('THE METAL MONK by Matt Barton', 'Theirs was a true love, thought Tony, one to stand the test of time. Eva, his soul-mate, was somehow even more beautiful than the day they first met, he realized.')


      br

      +stories('THE METAL MONK by Matt Barton', 'Theirs was a true love, thought Tony, one to stand the test of time. Eva, his soul-mate, was somehow even more beautiful than the day they first met, he realized.')


      br
