footer
  .container.text-center
    p.pull-left CPS 630 Copyright 2017
    ul.pull-right.list-inline
      li
        a(href='https://www.linkedin.com/in/muhammed-jobe-039395a8'  target='_blank') My Linkedin
      li
        a(href='https://en.wikipedia.org/wiki/Main_Page' target='_blank') Wiki link
      li
        p Contact me at muhammed.jobe@ryerson.ca
